<!DOCTYPE html><html><head>
		<title> Alanisoft - Software Development
		</title>
		<meta name="description" content="Cesar Alaniz&#39;s personal website and freelance software development information.  Available for hire, contact me."/>
		<meta name="robots" content="noarchive"/>
		<meta name="google" content="notranslate,noimageindex"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>

		<script type="text/javascript" src="//use.typekit.net/nmr0cyp.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <script data-main="https://do5izgzd6lf15.cloudfront.net/a9901f2/js/app.min.js" src="https://do5izgzd6lf15.cloudfront.net/a9901f2/js/require-2.1.11.js"></script>  		
		<link rel="stylesheet" type="text/css" media="screen" href="https://do5izgzd6lf15.cloudfront.net/a9901f2/css/10/main.css"/>
	</head>
	<body id="app">
		{{{content}}}
	



</body></html>
